.notPaid:before{
    content:'';
    display: inline-block;
    width:7px;
    height:7px;
    margin-right: 4px;
    background-color: #ED4C78;
    border-radius: 100%;
}

.paid:before{
    content:'';
    display: inline-block;
    width:7px;
    height:7px;
    margin-right: 4px;
    background-color: #00C9A7;
    border-radius: 100%;
}

.mat-table{
    font-family: "Lexend Deca", sans-serif !important;

}

.mat-column-actions  {
    text-align: left !important;
}

.mat-header-row th{
    vertical-align: middle!important;
    background-color: #f8fafd;
    color: #677788;
    width: 15%;
}

.mat-header-row{
    height: 45px;
}
