.error{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error img{
    width: 6%;
}

.error h3{
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 24px!important;
    margin: 15px 0 10px;
}

.error span{
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 16px;
    font-weight: 300;

}

.error button{
    width: 14%;
}