<div class="content container-fluid">
  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-12 col-md">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-header-title font-weight-bold">Balans</h3>
          </div>
        </div>

        <div class="col-auto">
          <!-- Filter -->
          <div class="row align-items-sm-center">
            <div class="col-sm-auto">
              <div class="d-flex align-items-center mr-2">
                <span class="text-secondary mr-2">Növ:</span>

                <select class="select2-selection custom-select custom-select-sm custom-select-borderless" size="1"
                  style="opacity: 1;" data-target-column-index="2" data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }' >
                          <!-- (change)="filterTableByStatus($event)" -->
                  <option value="">Hamısı</option>
                  <option *ngFor="let status of " value="{{status}}">{{status}}</option>
                  <!-- BrokerStatusTexts -->
                </select>
                <div class="col-sm-auto">
                  <button class="btn newOrder m-0" routerLink="/addBalance">
                    + Balansı artır
                  </button>
                </div>
                <!-- End Select -->
              </div>
            </div>
          </div>
          <!-- End Filter -->
        </div>
      </div>
    </div>
    <!-- End Header -->

    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table id="datatable"
        class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" mat-table
        [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>TARİX</th>
          <td mat-cell *matCellDef="let balance">{{balance.date}} </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef>ƏMƏLİYYAT</th>
          <td mat-cell *matCellDef="let balance" >{{balance.operation}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>MƏBLƏĞ</th>
          <td mat-cell *matCellDef="let balance" >
            <div [ngSwitch]="balance.operationType">
              <div *ngSwitchCase="1" class="income">+₼{{balance.amount}}</div>
              <div *ngSwitchCase="2" class="expense">-₼{{balance.amount}}</div>
            </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="card-footer">
      <!-- Pagination -->
      <div class="row justify-content-center justify-content-sm-end align-items-sm-center">

        <div class="col-sm-auto">
          <div class="d-flex justify-content-center justify-content-sm-end">
            <!-- Pagination -->
            <nav id="datatablePagination" aria-label="Activity pagination">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
              </mat-paginator>
            </nav>
          </div>
        </div>
      </div>
      <!-- End Pagination -->
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Yüklənir... </p>
</ngx-spinner>
