<aside>
    <div class="asideMain">
        <div class="brandLogo">
            <img class="logo" src="../../../assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
        <div class="sidebarMenu">
            <ul class="sideUl">
                <li><img src="../../../assets/icon/Vector (2).png">Ana səhifə</li>
                <li class="term" >
                    <div id="term"><img src="../../../assets/icon/Vector.png">Terminal xidmətlər</div>
                    <ul class="subCat">
                        <li>Terminal xidmətlərim</li>
                        <li>Yeni sifariş</li>
                    </ul>
                </li>
                <li><img src="../../../assets/icon/Vectorbroker.png">Broker</li>
                <li><img src="../../../assets/icon/Vectorodeme.png">Ödəmə</li>
                <li><img src="../../../assets/icon/Vector 18izleme.png">İzləmə</li>
                <li><img src="../../../assets/icon/Vectorhesabat.png">Hesabat</li>
                <li><img src="../../../assets/icon/Vector.png">Kömək</li>
                <li><img src="../../../assets/icon/Vectortenzimleme.png">Tənzimləmə</li>
            </ul>
        </div>
    </div>
</aside>
<header>
    <div class="head">
        <div><i class="tio-first-page" id="collapse"></i></div>
        <div class="user"><i class="tio-user"></i></div>
    </div>
</header>