<aside>
    <div class="asideMain">
        <div class="brandLogo">
            <img class="logo" src="../../../assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
        <div class="sidebarMenu">
            <ul class="sideUl">
                <li><img src="../../../assets/icon/Vector (2).png"> Ana səhifə</li>
                <li>Terminal xidmətlər</li>
                <li>Broker</li>
                <li>Ödəmə</li>
                <li>İzləmə</li>
                <li>Hesabat</li>
                <li>Kömək</li>
                <li>Tənzimləmə</li>
            </ul>
        </div>
    </div>
</aside>
<header>
    <div class="head">
        <div><i class="tio-first-page" id="collapse"></i></div>
        <div class="user"><i class="tio-user"></i></div>
    </div>
</header>