<main id="content" role="main" class="main pointer-event"> 
    <div class="content container-fluid">
     
      <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header">
                <h3 class="card-header-title font-weight-bold">Şifrəni dəyiş</h3>
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <!-- Form Group -->
              
                <!-- End Form Group -->
  
                <div class="row">
                
                    <div class="col-sm-7">
                        <!-- Form Group -->
                      <div class="form-group">
                        <label for="SKULabel" class="input-label">Əvvəlki şifrə</label>
      
                        <input type="text" class="form-control" name="SKU" id="SKULabel" aria-label="eg. 348121032">
                      </div>
                      <!-- End Form Group -->
                      </div>
                      <div class="col-sm-7">
                        <!-- Form Group -->
                      <div class="form-group">
                        <label for="SKULabel" class="input-label">Yeni şifrə</label>
      
                        <input type="text" class="form-control" name="SKU" id="SKULabel"  aria-label="eg. 348121032">
                      </div>
                      <!-- End Form Group -->
                      </div>
                    
                     
                      <div class="col-sm-7">
                        <!-- Form Group -->
                      <div class="form-group">
                        <label for="SKULabel" class="input-label">Yeni şifrənin təkrarı</label>
      
                        <input type="text" class="form-control" name="SKU" id="SKULabel" >
                      </div>
                      <!-- End Form Group -->
                      </div>
                    
  
                </div>
                <!-- End Row -->
                
                <div class="col-sm-auto">
                  <a class="btn newOrder" href="users-add-user.html">
                     Dəyiş
                  </a>
                </div>
  
                <!-- Quill -->
                <div class="quill-custom">
                  <div class="js-quill" style="min-height: 15rem;"
                       data-hs-quill-options='{
                          "placeholder": "Type your description..."
                         }'>
                  </div>
                </div>
                <!-- End Quill -->
              </div>
              <!-- Body -->
            </div>
            <!-- End Card -->
  
            <!-- End Card -->
          </div>
  
        </div>
    </div>
  </main>