
  <div class="content container-fluid">
 
    <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-12 col-md">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-header-title font-weight-bold">Bildirişlər</h3>

                <!-- Datatable Info -->
               
                <!-- End Datatable Info -->
              </div>
            </div>

          </div>
        </div>
        <!-- End Header -->

        <!-- Table -->
        <div class="table-responsive datatable-custom row">
              <div class="col-lg-6">
                <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                data-hs-datatables-options='{
                  "columnDefs": [{
                     "targets": [0, 1, 4],
                     "orderable": false
                   }],
                  "order": [],
                  "info": {
                    "totalQty": "#datatableWithPaginationInfoTotalQty"
                  },
                  "search": "#datatableSearch",
                  "entries": "#datatableEntries",
                  "pageLength": 8,
                  "isResponsive": false,
                  "isShowPaging": false,
                  "pagination": "datatablePagination"
                }'>
        

           <tbody>
            <tr *ngFor="let item of model; let i = index">
              <td class="table-column-pr-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" 
                         class="custom-control-input" 
                         
                         [(ngModel)]="item.nuNId"
                         >
                  <label class="custom-control-label" ></label>
                </div>
              </td>
              <td>{{notifTexts[i]}}</td>
              
            </tr>
           </tbody>
         </table>
              </div>
              <div class="col-lg-6 allCheckbox" >
                  <div class="row checkBox" *ngFor="let item of model">
                    
                      <div class="col-lg-5 ">
                        <label class="toggle-switch d-flex align-items-center mb-3">
                            <input type="checkbox" 
                                   class="toggle-switch-input" 
                                   
                                   [(ngModel)]="item.nuSms"
                                   >
                            <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                            <span class="toggle-switch-content">
                              <span class="d-block">Sms</span>
                            </span>
                          </label>
                      </div>
                      <div class="col-lg-5">
                        <label class="toggle-switch d-flex align-items-center mb-3" >
  
                            <input type="checkbox" 
                                   class="toggle-switch-input" 
                                   
                                   [(ngModel)]="item.nuEmail"
                                   >
  
                            <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                            <span class="toggle-switch-content">
                              <span class="d-block">E-mail</span>
                            </span>
                          </label>
                      
                    </div>
                    
                      
                  </div>
              
                 
              </div>
        </div>
        <!-- End Table -->

        <!-- Footer -->
     
        <!-- End Footer -->
        <div class="col-sm-auto">
          <a class="btn newOrder" (click)="sendNot()">
            Yadda saxla
          </a>
        </div>
      </div>

    
  </div>