.checkBox>div{
    line-height: 5px;
}

.checkBox{
    display: flex;
    padding: 5px 0;
    margin: 0;
}

.notiText{
    display: flex;
}

.notiNumber{
    display: none;
}

.row{
    margin: 0;
}

.custom-control{
    padding: 0;
}

.newOrder{
    margin-top: 10px;
}

.notiDiv{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

.checkBoxNum{
    display: none;
    margin-top: 7px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px){
    .notiNumber{
        display: block;
    }
    
    .checkBox{
        display: flex!important;
        flex-direction: row!important;
    }

    .notiText{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 0!important;
    }
   

    .checkBoxNum{
        display: block;
    }
}
