<div class="content container-fluid">

  <div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-12 col-md">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-header-title font-weight-bold">Bildirişlər</h3>

            <!-- Datatable Info -->

            <!-- End Datatable Info -->
          </div>
        </div>

      </div>
    </div>
    <!-- End Header -->
    <div class="col-lg-6"></div>

    <!-- Table -->
    <div class=" row">
      <div class="col-lg-6">
        <div class="notiDiv" *ngFor="let item of model; let i = index">
          <div class="notiNumber">
            <p>{{i + 1}}</p>
          </div>
          <div class="custom-control custom-checkbox notiText">
            <div>
              <input type="checkbox" class="custom-control-input" [(ngModel)]="item.nuNId">
              <label class="custom-control-label"></label>
            </div>
            <p>{{notifTexts[i]}}</p>

          </div>
        </div>
      </div>
      <div class="col-lg-6 allCheckbox">

        <div class="checkBox" *ngFor="let item of model; let i = index">
          <div class="checkBoxNum">
            <p>{{i + 1}}</p>
          </div>
          <div class="col-lg-5 ">
            <label class="toggle-switch d-flex align-items-center mb-3">
              <input type="checkbox" class="toggle-switch-input" [(ngModel)]="item.nuSms">
              <span class="toggle-switch-label">
                <span class="toggle-switch-indicator"></span>
              </span>
              <span class="toggle-switch-content">
                <span class="d-block">Sms</span>
              </span>
            </label>
          </div>
          <div class="col-lg-5">
            <label class="toggle-switch d-flex align-items-center mb-3">

              <input type="checkbox" class="toggle-switch-input" [(ngModel)]="item.nuEmail">

              <span class="toggle-switch-label">
                <span class="toggle-switch-indicator"></span>
              </span>
              <span class="toggle-switch-content">
                <span class="d-block">E-mail</span>
              </span>
            </label>

          </div>
        </div>


      </div>
    </div>
    <!-- End Table -->

    <!-- Footer -->

    <!-- End Footer -->
    <div class="col-sm-auto">
      <a class="btn newOrder" (click)="sendNot()">
        Yadda saxla
      </a>
    </div>
  </div>


</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Yüklənir... </p>
</ngx-spinner>