.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

$border_radius: 7px;
$border_width: 0;

.yes_button {
    border-radius: $border_radius;
    background-color: red;
    border-width: $border_width;
}

.no_button {
    border-radius: $border_radius;
    background-color: cyan;
    border-width: $border_width;
}