<div class="row">
  <div class="col-lg-12 ">
    <div class="content">
      <div class="formModel" >
        <input readonly placeholder="Sənəd seçin" type="text" class="form-control selectfileInputCopy file_picker"
          name="weightName" id="weightLabel1" aria-label="0.0" [(ngModel)]="fileName">
        <input type="file" class="form-control selectfileInputPay " name="weightName"
          id="weightLabel" aria-label="0.0" (change)="setFile($event)" >

        <label for="weightLabel" class="selectfileLabelPay Scan"><img src="assets/icon/Union.png" alt=""></label>
        <!-- End Input Group -->
      </div>
      <div>
        <span class="nextB" (click)="uploadFile()">Növbəti</span>
      </div>
    </div>
    <p style="color: #4299BF;">Ödənişi təsdiq edən sənədinin elektron forması</p>
  </div>
</div>
