<div class="row">
  <div class="col-lg-12 ">
    <div class="content">
      <div class="form-group">
          <input _ngcontent-xoe-c49="" type="text " name="weightName " id="weightLabel " placeholder="scan.pdf "
            aria-label="0.0 " class="form-control selectfileInputCopy">
          <input _ngcontent-xoe-c49="" type="file" name="documents" id="Document.fileId " aria-label="0.0 "
            class="form-control selectfileInput ng-pristine ng-valid ng-touched" ng-reflect-name="documents"
            ng-reflect-model="">
          <label _ngcontent-xoe-c49="" for=" " class="selectfileLabel Scan"><img _ngcontent-xoe-c49=""
              src="assets/icon/Union.png " alt=" "></label>
      </div>
      <div>
        <span class="nextB">Növbəti</span>
      </div>
    </div>
    <p style="color: #4299BF;">Ödənişi təsdiq edən sənədinin elektron forması</p>
  </div>
</div>