<div class="content container-fluid">
     
  <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <!-- Header -->
          <div class="card-header">
            <h3 class="card-header-title font-weight-bold">Profil hesabı</h3>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <!-- Form Group -->
            <div class="form-group">
              <form>
                <mat-form-field appearance="fill">
                  <mat-label>Fiziki/Hüquqi şəxs</mat-label>
                  <mat-select  name="food">
                    <mat-option  [value]="" routerLink="/profileAccount">
                      Fiziki şəxs
                     
                    </mat-option>
                    <mat-option  [value]="" >
                      Hüquqi şəxs
                     
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              
              </form>
            </div>
            <!-- End Form Group -->

            <div class="row">
            
                <div class="col-sm-3">
                    <!-- Form Group -->
                  <div class="form-group">
                    <label for="SKULabel" class="input-label">VÖEN</label>
  
                    <input type="text" class="form-control" name="SKU" id="SKULabel" aria-label="eg. 348121032">
                  </div>
                  <!-- End Form Group -->
                  </div>
                  <div class="col-sm-3">
                    <!-- Form Group -->
                  <div class="form-group">
                    <label for="SKULabel" class="input-label">Şirkətin adı</label>
  
                    <input type="text" class="form-control" name="SKU" id="SKULabel"  aria-label="eg. 348121032">
                  </div>
                  <!-- End Form Group -->
                  </div>
                  <div class="col-sm-3">
                    <!-- Form Group -->
                    <div class="form-group">
                      <label for="weightLabel" class="input-label">Reyestrdən çıxarış</label>
                       
                      <input  type="text" class="form-control selectfileInputCopy " name="weightName" id="weightLabel" aria-label="0.0">
                      <input  type="file" class="form-control selectfileInput " name="weightName" id="weightLabel" aria-label="0.0">

                      <label for="" class="selectfileLabel"><img src="assets/icon/Union.png" alt=""></label>
                    </div>
                  <!-- End Form Group -->
                  </div>
                  <div class="col-sm-3">
                      <!-- Form Group -->
                      <div class="form-group">
                        <label for="weightLabel" class="input-label">Bank rekvezitləri</label>
                      <input  type="text" class="form-control selectfileInputCopy " name="weightName" id="weightLabel" aria-label="0.0">
                       
                      <input  type="file" class="form-control selectfileInput " name="weightName" id="weightLabel" aria-label="0.0">

                      <label for="" class="selectfileLabel"><img src="assets/icon/Union.png" alt=""></label>
                      </div>
                    <!-- End Form Group -->
                    </div>
                    <div class="col-sm-3">
                        <!-- Form Group -->
                        <div class="form-group">
                          <label for="weightLabel" class="input-label">Səlahiyyətli nümayəndə/etibarnamə</label>
                        <input  type="text" class="form-control selectfileInputCopy " name="weightName" id="weightLabel" aria-label="0.0">
                         
                        <input  type="file" class="form-control selectfileInput " name="weightName" id="weightLabel" aria-label="0.0">

                        <label for="" class="selectfileLabel"><img src="assets/icon/Union.png" alt=""></label>
                        </div>
                      <!-- End Form Group -->
                      </div>
                 
                  <div class="col-sm-3">
                    <!-- Form Group -->
                  <div class="form-group">
                    <label for="SKULabel" class="input-label">Məhsul şəxsin Adı</label>
  
                    <input type="text" class="form-control" name="SKU" id="SKULabel" >
                  </div>
                  <!-- End Form Group -->
                  </div>
                  <div class="col-sm-3">
                      <!-- Form Group -->
                    <div class="form-group">
                      <label for="SKULabel" class="input-label">Məhsul şəxsin Soyadı</label>
    
                      <input type="text" class="form-control" name="SKU" id="SKULabel"  >
                    </div>
                    <!-- End Form Group -->
                    </div>
                  <div class="col-sm-3">
                    <!-- Form Group -->
                  <div class="form-group">
                    <label for="SKULabel" class="input-label">Mobil nömrə</label>
  
                    <input type="number" class="form-control" name="SKU" id="SKULabel"  >
                  </div>
                  <!-- End Form Group -->
                  </div>
                  <div class="col-sm-3">
                    <!-- Form Group -->
                  <div class="form-group">
                    <label for="SKULabel" class="input-label">E-mail</label>
  
                    <input type="email" class="form-control" name="SKU" id="SKULabel" >
                  </div>
                  
                  <!-- End Form Group -->
                  </div>


            </div>
            <!-- End Row -->
            
            <div class="col-sm-auto">
              <a class="btn newOrder" href="users-add-user.html">
                  Yadda saxla

              </a>
            </div>

            <!-- Quill -->
            <div class="quill-custom">
              <div class="js-quill" style="min-height: 15rem;"
                   data-hs-quill-options='{
                      "placeholder": "Type your description..."
                     }'>
              </div>
            </div>
            <!-- End Quill -->
          </div>
          <!-- Body -->
        </div>
        <!-- End Card -->

        <!-- End Card -->
      </div>

    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Yüklənir... </p></ngx-spinner>