<div class="content container-fluid">
  <!-- Card -->
  <div class="row">
    <div class="col-lg-9 mb-5 mb-lg-0">
      <!-- Card -->
      <div class="card card-lg">
        <!-- Body -->
        <div class="card-body">
          <div class="row align-items-center">


            <a class="ml-5 orderBtn line">Xidmətlər</a>
            <a class="ml-5 orderBtn cursor_pointer" (click)="toReturnFile()">Geridönüş sənədi</a>
          </div>
          <!-- End Row -->

          <hr>

          <!-- End Row -->

          <div class="js-add-field" data-hs-add-field-options='{
                        "template": "#addInvoiceItemTemplate",
                        "container": "#addInvoiceItemContainer",
                        "defaultCreated": 0
                      }'>
            <!-- Title -->
            <!-- <div class="row"> -->
            <div class="row">
              <input type="text" id="full_ref_code" class="form-control col-sm-4 mb-3" placeholder="Dolu yükdaşıma kodu"
                [(ngModel)]="fullRefCode" [disabled]="orderStatus === 5">
              <div class="col-sm-1"></div>
              <input type="text" class="form-control col-sm-4 mb-3" placeholder="Boş yükdaşıma kodu"
                [(ngModel)]="emptyRefCode" [disabled]="orderStatus === 5">
            </div>
            <div class="bg-light border-bottom p-2 mb-3">
              <!-- Title -->
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="card-title text-cap">xİdmət</h6>
                </div>
                <div class="col-sm-3 d-none d-sm-inline-block">
                  <h6 class="card-title text-cap">Mİqdar</h6>
                </div>
                <div class="col-sm-2 d-none d-sm-inline-block">
                  <h6 class="card-title text-cap">QİYMƏT</h6>
                </div>
                <div class="col-sm-2 d-none d-sm-inline-block">
                  <h6 class="card-title text-cap">cƏMİ</h6>
                </div>
                <div class="col-sm-2 d-none d-sm-inline-block">
                  <h6 class="card-title text-cap"></h6>
                </div>
              </div>
            </div>
            <!-- End Title -->

            <!-- Content -->
            <div *ngFor="let xidmet of xidmetler; let i = index" class="row priceDiv">
              <div class="col-md-5">
                <select [disabled]="orderStatus === 5" class="form-control mb-3" name="" id="" (change)="setXidmetPrice(xidmet, $event)">
                  <option *ngFor="let exp of expenses" value="{{exp.id}}" [selected]="xidmet.expenseId == exp.id">
                    {{exp.text}}</option>
                </select>
                <input type="text" class="form-control mb-3 readonly_input" placeholder="N/V №" aria-label="Description"
                  value="{{xidmet.temrinalWay.nvNo}}" readonly>
              </div>

              <div class="col-12 col-sm-auto col-md-3">
                <!-- Quantity Counter -->
                <div class="js-quantity-counter input-group-quantity-counter mb-3">
                  <input type="number" class="js-result form-control input-group-quantity-counter-control"
                    [(ngModel)]="xidmet.count" [disabled]="orderStatus === 5" (input)="changeCount(xidmet, $event)">

                  <div class="input-group-quantity-counter-toggle" *ngIf="orderStatus !== 5">
                    <a class="js-minus input-group-quantity-counter-btn" href="javascript:;"
                      (click)="decreaseCount(xidmet)">
                      <i class="tio-remove"></i>
                    </a>
                    <a class="js-plus input-group-quantity-counter-btn" href="javascript:;"
                      (click)="increaseCount(xidmet)">
                      <i class="tio-add"></i>
                    </a>

                  </div>

                </div>
                <!-- End Quantity Counter -->
                <div id="count_danger" class="alert alert-danger" *ngIf="xidmet.isAmountInValid">
                  Ancaq 0-dan böyük və 1000 dən kicik tam rəqəm daxil oluna bilər
                </div>
              </div>

              <div class="col-12 col-sm col-md-2">
                <!-- Input Group -->
                <div class="mb-3 price">
                  <span>Qiymət:</span><p>{{xidmet.temrinalWay.amount}} ₼</p>
                </div>
                <!-- End Input Group -->
                <div class="mb-3 delete_div" *ngIf="xidmetler.length > 1 && orderStatus !== 5">
                  <a type="button" (click)="deleteXidmet(i)"><i class="tio-delete-outlined"></i></a>
                </div>
              </div>

              <div class="col col-md-2 price">
                <span>Cəmi:</span><p>{{xidmet.totalAmount}} ₼</p>
              </div>
            </div>
            <!-- End Content -->

            <!-- Container For Input Field -->
            <div id="addInvoiceItemContainer"></div>
          </div>

          <hr class="my-5">

          <div class="row justify-content-md-end mb-3">
            <div class="col-lg-6">
              <div class="form-group">

                <textarea class="form-control" placeholder="Qeyd" id="invoiceNotesLabel"
                  [disabled]="orderStatus === 5" rows="3" [(ngModel)]="notes"></textarea>
              </div>
            </div>
            <div class="col-md-8 col-lg-6">
              <dl class="row text-sm-right">
                <dt class="col-sm-6">Cəmi:</dt>
                <dd class="col-sm-6">{{total}} ₼ </dd>
                <dt class="col-sm-6">Cəmi (+ƏDV):</dt>
                <dd class="col-sm-6">{{totalEdv | number : '1.2-2' }} ₼</dd>
              </dl>
              <!-- End Row -->
            </div>
          </div>


        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->

      <!-- Sticky Block End Point -->
      <div id="stickyBlockEndPoint"></div>
    </div>

    <div id="stickyBlockStartPoint" class="col-lg-3">
      <div class="js-sticky-block" data-hs-sticky-block-options='{
                   "parentSelector": "#stickyBlockStartPoint",
                   "breakpoint": "lg",
                   "startPoint": "#stickyBlockStartPoint",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 20
                 }'>
        <button class="btn btn-block newOrder mb-3" href="javascript:;"
          *ngIf="orderStatus === undefined || orderStatus === 4" (click)="createTerminalOrder()"
          [disabled]="isValid()">
          Yadda saxla
        </button>

        <button class="btn btn-block newAccept mb-3" href="javascript:;"
          *ngIf="orderStatus === undefined || orderStatus === 4" (click)="createTerminalOrder(false)"
          [disabled]="isValid()">
          Təsdiqlə
        </button>

        <button class="btn btn-block back mb-3" (click)="goBack()">
          Geri
        </button>


        <!-- End Row -->

        <hr class="my-4">

        <!-- Form Group -->
        <div class="form-group">
          <dl>
            <dt *ngIf="orderNo !== undefined">Sənəd nömrəsi:</dt>
            <dd *ngIf="orderNo !== undefined">{{orderNo}}</dd>
            <dt *ngIf="customer !== undefined">Müştəri:</dt>
            <dd *ngIf="customer !== undefined">{{customer}}</dd>
            <dt *ngIf="orderDate !== undefined">Tarix:</dt>
            <dd *ngIf="orderDate !== undefined">{{orderDate | date: 'dd.MM.yyyy'}}</dd>
          </dl>
        </div>
      </div>
    </div>

  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Yüklənir... </p>
</ngx-spinner>
