#count_danger {
  color: #fff !important;
  background-color: #eb4d4b !important;
  padding: 5px 20px !important;
  border-radius: 0.3125rem !important;
}



.readonly_input {
    background-color: #f9fafc;
}

.delete_div {
  margin: 0;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
  font-size: 18px;
}

.delete_div a {
  color: red;
}



h6{
  margin: 0;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif !important
}

.orderBtn {
  font-family: "Lexend Deca", sans-serif !important
}

.line::after{
  bottom: -17px!important;
  width: 103px;
}

.printBtn{
  outline: none;
  border: none;
  background-color: #e74c3c;
  width: 100%;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
  
}

.iframe{
  width: 0px; 
  border-width: 0px; 
  height: 0px;
}

@media only screen and (max-width: 768px){
  #full_ref_code{
    margin: 0;
  }

  .col-12{
    display: flex;
  }
  .price span{
    display: block;
    font-weight: 500;
    color: black;
    padding-right: 7px;
  }

  .priceDiv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    padding-bottom: 4px;
    margin-bottom: 13px;
  }
}
