#full_ref_code {
    margin-left: 15px;
}

.readonly_input {
    background-color: #f9fafc;
}

.delete_div {
  margin: 0;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
  height: 35%;
  font-size: 18px;
}

.delete_div a {
  color: red;
}


.price{
  display: flex;
}

.price span{
  display: none;
}

h6{
  margin: 0;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif !important
}

.orderBtn {
  font-family: "Lexend Deca", sans-serif !important
}

.line::after{
  bottom: -17px!important;
  width: 103px;
}

@media only screen and (max-width: 768px){
  #full_ref_code{
    margin: 0;
  }

  .col-12{
    display: flex;
  }
  .price span{
    display: block;
    font-weight: 500;
    color: black;
    padding-right: 7px;
  }

  .priceDiv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    padding-bottom: 4px;
    margin-bottom: 13px;
  }
}
