<main id="content" role="main" class="main pointer-event">
  <div class="content container-fluid">

    <div class="card mb-3 mb-lg-5">
      <!-- Header -->
      <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
          <div class="col-12 col-md">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-header-title font-weight-bold">Yeni sifariş</h3>


              <!-- End Datatable Info -->
            </div>
          </div>

        </div>
      </div>
      <!-- End Header -->

      <!-- Table -->
      <div class="content-btn">
        <div class="row">
          <div class="col-lg-6">
            <div class="col-sm-auto">
              <div class="d-flex align-items-center mr-2">
                <div class="checkBox">
                  <input type="radio" aria-label="Radio button for following text input" [(ngModel)]="nvNoRadio"
                    value="1" name="nvNoRadioButton" (change)="changeVaqonType()" checked="checked"
                    id="nvNoRadio_vaqon"> Vaqon
                </div>
                <div class="CheckBox">
                  <input type="radio" aria-label="Radio button for following text input" [(ngModel)]="nvNoRadio"
                    value="2" name="nvNoRadioButton" (change)="changeVaqonType()">Konteyner
                </div>
                <!-- End Select -->
              </div>
            </div>
            <div class="table-responsive datatable-custom smoll">
              <table id="datatable"
                class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [0, 1, 4],
                        "orderable": false
                      }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="table-column-pr-0">
                      <div class="custom-control custom-checkbox">
                        <input id="datatableCheckAll" type="checkbox" class="custom-control-input"
                          (click)="checkAllTerminalWays()" [(ngModel)]="masterCheck">
                        <label class="custom-control-label" for="datatableCheckAll"></label>
                      </div>
                    </th>
                    <th class="table-column-pl-0">N/V №</th>
                    <th>Qaimə №</th>
                    <th>Yük</th>

                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let tw of terminalWays">
                    <td class="table-column-pr-0">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                          [(ngModel)]="tw.isSelected">
                        <label class="custom-control-label" (click)="checkTerminalWayCheckbox(tw)"></label>
                      </div>
                    </td>

                    <td>{{tw.nvNo}}</td>
                    <td>{{tw.qaimeNo}}</td>
                    <td>{{tw.yuk}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-header">


              <div class="row">
                <div class="col-lg-12">
                  <label class="card-header-title d-block">Xidmətlər</label>

                </div>
                <div class="col-lg-12">
                  <div class="card-block">
                    <div class="row ">
                      <div class="col-lg-6" *ngFor="let exp of expenses"
                        [hidden]="!exp.isSelected">
                        <div title="{{exp.text}}" contenteditable="false" spellcheck="false" tabindex="-1"
                          class="tagify__tag tagify--noAnim expense_box" __isvalid="true" value="white">
                          <p title="" class=" tagify__tag__removeBtn" role="button" aria-label="remove tag"></p>
                          <div class="expense_box"><span class="tagify__tag-text">{{exp.text}}</span></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- Checkbox -->

                    <div class="row">
                      <div *ngFor="let exp of expenses" class="col-lg-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input"
                          [(ngModel)]="exp.isSelected">
                          <label class="custom-control-label" (click)="checkExpenseCheckbox(exp)"></label>
                          <label>{{exp.text}}</label>
                        </div>
                      </div>
                    </div>
                    <!-- End Checkbox -->
                  </div>
                </div>
              </div>



            </div>
            <!-- End Header -->

          </div>

        </div>

        <div class="col-sm-auto">
          <button class="btn newOrder" (click)="submit()">
            Sifariş et
          </button>
        </div>
      </div>
      <!-- End Table -->

      <!-- Footer -->

      <!-- End Footer -->
    </div>
  </div>
</main>
