<div class="login-body row" id="login">
  <div class="col-lg-6 leftCont">
    <h1 class="position-absolute text-light  font-weight-bold login-text">Daxil ol</h1>
    <img class="full-image " src="assets/img/AL.png" alt="">
  </div>
  <div class="col-lg-6 rightCont">
    <div class="top-logo">
      <img class="top-logo-image" src="assets/img/Absheron_Logistika_logo 3.png" alt="">
    </div>
    <div class="login-content mb-3" *ngIf="data.userId == ''">
      <h2  class="login-text-2">Bu səhifə sizin üçün əl çatan deyil.</h2>
    </div>
    <div class="login-content mb-3" *ngIf="data.userId !== ''">
      <h2  class="login-text-2">Təmsil etdiyiniz subyekti seçin</h2>
      <form #myForm="ngForm" (submit)="templateForm()">
        <label *ngFor="let item of certificateData">
          <input type="radio" name="key" ngModel value="{{item.key}}"  id="{{item.informationSystemName}}"
            (click)="setSelectedItemDetails(item.organizationCode, item.personalCode , item.informationSystemName , item.organizationName)"/>
          <span>{{item.organizationName}} ({{item.organizationCode}})</span>
        </label>
        <button type="submit"  [disabled]="!myForm.valid" mat-raised-button color="primary" class="form-control w-100 mt-7 btn btn-block newOrder ">Daxil Ol</button>
  
      </form>
      
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Yüklənir... </p>
  </ngx-spinner>
</div>