<main id="content" role="main" class="main pointer-event">
    <div class="content container-fluid">
        <!-- Card -->

        <form class="row mb-4 " #brokerPost="ngForm">
            <div class=" col-lg-9 mb-5 mb-lg-0 ">

                <!-- Card -->
                <div class="card card-lg ">
                    <!-- Body -->

                    <div class="card-body ">
                        <div class="d-flex justify-content-between align-items-center ">
                            <h3 class="card-header-title font-weight-bold ">Terminal xidmətlər
                            </h3>

                            <!-- Datatable Info -->

                            <!-- End Datatable Info -->
                        </div>
                        <hr>
                        <div class="input-group-add-field ">
                            <div class="row my-3 ">
                                <div class="col-lg-4 " style="border-right: 1px solid #E7EAF3; ">
                                    <div class="row ">
                                        <div class="col-lg-12 ">
                                            <!-- <input type="text " class="form-control mb-3 " placeholder="Nəqliyyat növü " aria-label="Description " name="Nəqliyyatnövü " [(ngModel)]='updateOrder.docNo'> -->

                                            <select class="form-control mb-3 " id="transportType" name="transportType" [(ngModel)]='updateOrder.docNo'>
                                              <option [ngValue]="null">Seçin</option>V
                                              <option *ngFor="let item of transportTypes" [value]="item.id">{{item.text}}</option>
                                            </select>

                                        </div>
                                        <div class="col-lg-12 ">
                                            <input type="text " class="form-control mb-3 " placeholder="N/V № " aria-label="Description " name="NV " [(ngModel)]='brokerItemModel.transportNo' ngModel>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 ">
                                    <div class="form-group p-0 ">
                                        <!-- Checkbox -->

                                        <div class="row ">
                                            <div class="col-lg-12 ">
                                                <h3 class="card-header-title font-weight-bold m-0 ">Xidmətlər</h3>
                                            </div>
                                            <!-- <div class="col-lg-6 pb-3 " *ngFor="let checkbox of checkboxLabel ">
                                                <div class="d-flex align-items-center ">
                                                    <input type="checkbox " [value]='checkbox.id' [(ngModel)]="checkbox.select " name="checkbox " (change)="onChangeInput($event) ">
                                            <input type="checkbox" name="options{{checkbox.id}} " ngModel value="{{checkbox.id}} " [checked]="checkbox.select " (change)="onChangeInput(checkbox.id, $event) " />
                                            <label class=" " for="customCheck12 " class='m-0 pl-1'>{{checkbox.labelName}}</label>
                                        </div>
                                    </div> -->



                                            <div class="col-lg-6 pb-3" *ngFor="let checkbox of expenses ">
                                                <div class="d-flex align-items-center ">
                                                    <input type="checkbox" name="option{{checkbox.id}} " [(ngModel)]='checkbox.id && checkbox.isSelected' value="{{checkbox.id}} " [checked]="checkbox.isSelected " (change)="onChangeInput(checkbox.id, $event) " />
                                                    <label class=" " for="customCheck12 " class='m-0 pl-1'>{{checkbox.text}}</label>
                                                </div>
                                            </div>









                                        </div>
                                        <!-- End Checkbox -->
                                    </div>
                                </div>



                            </div>
                            <div class="row justify-content-md-between ">
                            </div>
                            <div class="js-add-field " data-hs-add-field-options='{
                      "template ": "#addInvoiceItemTemplate ",
                      "container ": "#addInvoiceItemContainer ",
                      "defaultCreated ": 0
                    }'>
                                <!-- Title -->
                                <div class="bg-light border-bottom p-2 mb-3 ">
                                    <div class="row ">

                                        <div class="col-sm-3 col-lg-6 d-none d-sm-inline-block ">
                                            <h6 class="card-title text-cap ">SƏNƏD NÖVÜ</h6>
                                        </div>
                                        <div class="col-sm-2 col-lg-6 d-none d-sm-inline-block ">
                                            <h6 class="card-title text-cap ">fAYL</h6>
                                        </div>

                                    </div>
                                </div>
                                <!-- End Title -->

                                <!-- Content -->
                                <div class="row ">

                                    <div class="col-12 col-sm-auto col-md-3 col-lg-6 ">
                                        <select class="form-control mb-3 " name="documentType">

                                        <option [ngValue]="null">Seçin</option>
                                        <option *ngFor="let item of documentTypes" [value]="item.id">{{item.name}}</option>
                                        </select>
                                        <!-- End Quantity Counter -->
                                    </div>

                                    <div class="col-12 col-sm col-md-2 col-lg-6 ">
                                        <input type="text " class="form-control selectfileInputCopy " name="weightName " id="weightLabel " placeholder="scan.pdf " aria-label="0.0 ">

                                        <input type="file" ngModel class="form-control selectfileInput " name="weightName " id="weightLabel " aria-label="0.0 ">

                                        <label for=" " class="selectfileLabel Scan "><img src="assets/icon/Union.png " alt=" "></label>
                                        <!-- End Input Group -->
                                    </div>



                                </div>
                                <!-- End Content -->

                                <!-- Container For Input Field -->
                                <div id="addInvoiceItemContainer "></div>

                                <a href="javascript:; " class="js-create-field form-link btn btn-sm btn-no-focus btn-ghost-primary ">
                     + Əlavə sənəd
                </a>

                                <!-- Add Phone Input Field -->

                                <!-- End Content -->
                            </div>
                            <!-- End Add Phone Input Field -->
                        </div>

                        <hr class="my-5 ">
                        <div class="form-group ">

                            <textarea class="form-control " [(ngModel)]="updateOrder.invoiceNotesLabel" placeholder="Qeyd " id="invoiceNotesLabel " aria-label="Who is this invoice to? " rows="3 " ngModel name="textarea "> </textarea>
                        </div>

                        <!-- End Row -->

                        <!-- Form Group -->

                        <!-- End Form Group -->

                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Sticky Block End Point -->
            <div id="stickyBlockEndPoint "></div>

            <div id="stickyBlockStartPoint " class="col-lg-3 ">
                <div class="js-sticky-block " data-hs-sticky-block-options='{
                 "parentSelector ": "#stickyBlockStartPoint ",
                 "breakpoint ": "lg ",
                 "startPoint ": "#stickyBlockStartPoint ",
                 "endPoint ": "#stickyBlockEndPoint ",
                 "stickyOffsetTop ": 20
               }'>
                    <button data-dismis='modal' class="btn btn-block newOrder mb-3 " href="javascript:; " type="submit " (click)="UpdateSave() ">
                Yadda saxla
            </button>

                    <button class=" btn btn-block newAccept mb-3 " href="javascript:; " (click)="onSubmitApproval(brokerPost.value) ">
                Təsdiqlə
            </button>

                    <button class="btn btn-block back mb-3 " routerLink="/broker">
                Geri
            </button>


                    <!-- End Row -->

                    <hr class="my-4 ">

                    <!-- Form Group -->
                    <div class="form-group ">
                        <dl>
                            <dt>Sənəd nömrəsi:</dt>
                            <dd>1234567890</dd>
                            <dt>Müştəri:</dt>
                            <dd>Lorem İpsum LLC</dd>
                            <dt>Tarix:</dt>
                            <dd>26.11.2021</dd>
                        </dl>

                    </div>
                </div>
            </div>
        </form>


    </div>
</main>