
<body class="login-body">
 <div class="row">
     <div class="col-lg-6 ">
       <h1 class="position-absolute text-light  font-weight-bold login-text">Daxil ol</h1>
         <img class="full-image " src="assets/img/AL.png" alt="">
     </div>
     <div class="col-lg-6">
         <div class="top-logo">
             <img class="top-logo-image" src="assets/img/Absheron_Logistika_logo 3.png" alt="">
         </div>
         <form class="login-form">
            <div class="form-group">
              <label class="input-label" for="exampleFormControlInput1">E-mail</label>
              <input type="email" id="exampleFormControlInput1" class="form-control" >
            </div>
          
          
            <div class="form-group">
              <label class="input-label" for="exampleFormControlInput2">Şifrə</label>
              <input type="password" id="exampleFormControlInput2" class="form-control" value="********">
            </div>
            <div class="row">
                <div class="col-lg-6">
                  <input type="checkbox" name="" id="">
                  <label for="">Yadda saxla</label>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <a href="">Şifrəni unutmuşam</a>
                </div>
            </div>

            <button type="button" class="btn btn-login">Daxil ol</button>
          
          
          </form>
     </div>
 </div>

</body>
