<div class="row verify-body ">
    <div class="col-lg-6  leftCont">
        <h1 class=" login-text">Təsdiqləmə</h1>
        <img class="full-image " src="../../../assets/img/AL.png" alt="">
    </div>

    <div class="col-lg-6 rightCont">
        <div class="top-logo">
            <img class="top-logo-image" src="../../../assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
        <div class="justify-content-center align-self-center">
            <div class="mt-4 align-text-bottom">
                <div>
                    <h2>Profilinizi təsdiqləmək üçün e-poçtunuzu yoxlayın</h2>
                    <p>
                        Mailinizə təsdiqləmə linki göndərildi. Linkə daxil olub hesabınızı təsdiqləməyiniz xahiş olunur
                    </p>
                    <a href="" class="btn btn-outline-primary mr-2" (click)="backPage()">Geri qayıt</a>
                    <a class="btn btn-primary" (click)="sendAgain()">Yenidən göndər</a>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Yüklənir... </p>
</ngx-spinner>