
<div class="row h-100 ">
    <div class="col-lg-6  ">
        <h1 class="position-absolute text-light  font-weight-bold login-text">Qeydiyyat</h1>
        <img class="full-image " src="../../../assets/img/AL.png" alt="">
    </div>

    <div class="col-lg-6 h-100 justify-content-center align-self-center">
        <div class="top-logo">
            <img class="top-logo-image" src="../../../assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
    <div class="h-100 justify-content-center align-self-center">
        <div class="mt-4 align-text-bottom">
            <div class=" text-center">
                <h1>Check you e-mail to verify your profile</h1>
                <p>
                    Mailinizə təsdiqləmə linki göndərildi. Linkə daxil olub hesabınızı təsdiqləməyiniz xahiş olunur
                </p>
                <a  href="" class="btn btn-outline-primary m-2" (click)="backPage()">Geri qayıt</a>
                <a  class="btn btn-primary" (click)="sendAgain()">Yenidən göndər</a>
            </div>
        </div>
    </div>
    </div>
</div>
