<div class="login-body row">
    <div class="col-lg-6 leftCont">
        <h1 class="position-absolute text-light  font-weight-bold login-text">Şifrəni dəyiş</h1>
        <img class="full-image " src="assets/img/AL.png" alt="">
    </div>
    <div class="col-lg-6 rightCont">
        <div class="top-logo">
            <img class="top-logo-image" src="assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
        <form class="login-form" #login=ngForm (ngSubmit)="reset(login.value)">
            <div class="form-group">
                <label class="input-label" for="exampleFormControlInput2">Şifrə</label>
                <input ngModel #password="ngModel" name="UPassword" type="password" id="password" required minlength="5"
                    class="form-control" [type]="showPassword ? 'text' : 'password'">
                    <div class="hidden-outlined">
                        <i alt="show" class="tio-hidden-outlined"
                        (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                        <i alt="hide" class="tio-invisible"
                        (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                      </div>
                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">
                        *Yeni şifrə tələb olunur
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        *Minimum 5 simvol tələb olunur
                    </div>
                </div>
                <!-- <div class="alert alert-soft-danger" 
                     *ngIf="password.touched && !password.valid ">*Şifrə tələb olunur</div> -->
            </div>
            <div class="form-group">
                <label class="input-label" for="exampleFormControlInput2">Şifrənin təkrarı</label>
                <input type="password" id="confirmPassword" ngModel #confirmPassword="ngModel" required
                [type]="showPasscon ? 'text' : 'password'" name="UConfirmpassword" class="form-control" appConfirmEqualValidator="UPassword" minlength="5">
                <div class="hidden-outlined">
                    <i alt="show" class="tio-hidden-outlined"
                    (click)="showPasscon = !showPasscon"
                    [class.hidecon]="showPasscon"></i>
                    <i alt="hide" class="tio-invisible"
                    (click)="showPasscon = !showPasscon"
                    [class.hidecon]="!showPasscon"></i>
                  </div>
                <div class="alert alert-danger"
                    *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <div *ngIf="confirmPassword.errors?.['required']">
                        *Yeni şifrənin təkrarı tələb olunur
                    </div>
                    <div *ngIf="confirmPassword.errors?.['notEqual'] && (confirmPassword.dirty || confirmPassword.touched) ">
                        *Şifrələr eyni deyil
                    </div>

                    <div *ngIf="confirmPassword.errors?.['minlength']">
                        *Minimum 5 simvol tələb olunur
                    </div>
                </div>
            </div>
            <button type="button" (click)="reset(login.value)" [disabled]="!login.valid"
                class="form-control w-100 mt-3 btn btn-block newOrder mb-3">Şifrəni dəyiş</button>
        </form>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Yüklənir... </p>
</ngx-spinner>