<div class="login-body row">
    <div class="col-lg-6 leftCont">
      <h1 class="position-absolute text-light  font-weight-bold login-text">Şifrəni dəyiş</h1>
        <img class="full-image " src="assets/img/AL.png" alt="">
    </div>
    <div class="col-lg-6 rightCont">
        <div class="top-logo">
            <img class="top-logo-image" src="assets/img/Absheron_Logistika_logo 3.png" alt="">
        </div>
        <form class="login-form" #login=ngForm (ngSubmit)="reset(login.value)">  
            <div class="form-group">
                <label class="input-label" for="exampleFormControlInput2">Şifrə</label>
                <input 
                     ngModel
                     #password="ngModel"
                     name="UPassword"
                     type="password"
                     id="password" 
                     required
                     class="form-control">
                     <!-- <div class="alert alert-soft-danger" 
                     *ngIf="password.touched && !password.valid ">*Şifrə tələb olunur</div> -->
            </div>
            <div class="form-group">
                <label class="input-label" for="exampleFormControlInput2">Şifrənin təkrarı</label>
                <input 
                    type="password"
                    id="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel"
                    required
                    name="UConfirmpassword"
                    class="form-control"
                   
                    appConfirmEqualValidator="UPassword"
                    >
                    <!-- <div class="alert alert-soft-danger" *ngIf="confirmPassword.touched && !confirmPassword.valid || confirmPassword.errors?.notEqual">*Şifrə düzgün deyil</div> -->
            </div>
           <button type="button" (click)="reset(login.value)"   class="form-control w-100 mt-3 btn btn-block newOrder mb-3">Daxil ol</button>
         </form>
    </div>
</div>