
<div class="row select">
  <h2 class="title">{{data.orderNo}} nömrəli sifariş üçün ödəmə üsulu seçin</h2>
  <div class="col-lg-9">
    <select class="custom-select" name="paymentType" [(ngModel)]="paymentType">
      <option disabled selected value="-1">Ödəmə üsulu</option>
      <option value="{{item.value}}" *ngFor="let item of meths">{{item.text}}</option>
    </select>
  </div>
  <div class="col-lg-3">
    <a class="btn btn-block newOrder" (click)="openDialogNext()">
     Növbəti
     </a>
  </div>
</div>