<div class="error">
      <div class="col-xs-12  text-center">
          <div class="container-error-404">
              <div class="clip"><div class="shadow"><span class="digit thirdDigit">4</span></div></div>
              <div class="clip"><div class="shadow"><span class="digit secondDigit">0</span></div></div>
              <div class="clip"><div class="shadow"><span class="digit firstDigit">4</span></div></div>
          </div>
          <h2 class="h1">Bağışlayın! Səhifə mövcud deyil</h2>
          <button class="btn newOrder" [routerLink]="['/home']" >Ana səhifəyə geri dön</button>
      </div>
</div>

