.files{
    display: flex;
}

.alert-danger {
    color: #eb4d4b;
    background-color: none!important;
}

.alert {
    position: relative;
    padding: 0;
    margin-top: 2px;
    border-radius: 0;
}

.selectfileInputCopy{
    padding-right: 35px;
    margin-bottom: 7px;
}
.selectfileLabel{
    top: 38%;
}

.fileDown{
    cursor: pointer;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.397);
    transition: 0.3s;
}

.fileDown:hover{
    color: #4299BF;
}

@media only screen and (max-width: 768px){
    .files{
        flex-direction: column;
    }
}