<div class="content container-fluid">
  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-12 col-md">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-header-title font-weight-bold">İzləmə </h3>

            <!-- Datatable Info -->

            <!-- End Datatable Info -->
          </div>
        </div>

      </div>
    </div>
    <!-- End Header -->

    <!-- Table -->
    <div class="p-3">
      <div class="col-auto">
        <!-- Filter -->
        <div class="row align-items-sm-center">
          <div class="col-sm-auto">
            <div class="d-flex align-items-center mr-2">
              <div class="checkBox">
                <label>
                  <input type="radio" name="radio" value="1" name="nvNoRadioButton" (change)="setTransportType(0)"
                    checked id="nvNoRadio_vaqon" />
                  <span>Vaqon</span>
                </label>
              </div>
              <div class="checkBox">
                <label>
                  <input type="radio" name="radio" value="2" name="nvNoRadioButton" (change)="setTransportType(1)"
                    id="nvNoRadio_vaqon" />
                  <span>Konteyner</span>
                </label>
              </div>
              <!-- End Select -->
            </div>
          </div>

          <div class="col-md">
            <form class="row">
              <!-- Search -->
              <div class="input-group input-group-merge input-group-flush col-lg-4">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tio-search"></i>
                  </div>
                </div>
                <input id="datatableSearch" type="search" placeholder="132456789" class="form-control"
                  aria-label="Search users" [(ngModel)]="transportNumber" name="transportNumber">
              </div>
              <!-- End Search -->

              <div class=" col-lg-8">
                <a class="btn newOrder mt-2" (click)="getTrackingState()">
                  Axtar
                </a>
              </div>
            </form>
          </div>

        </div>
        <!-- End Filter -->
      </div>
      <!-- Step -->
      <div class="d-flex justify-content-between align-items-center interest-Div" *ngIf="showProgress">
        <p class="card-header-title">
          Prosessin <span class="interest">{{percentage}}%</span> - i bitib.
        </p>


        <!-- Datatable Info -->

        <!-- End Datatable Info -->
      </div>
      <ul class="step step-md" *ngIf="showProgress">
        <li class="step-item" *ngFor="let styleClass of checkClasses; let i = index">
          <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-primary" [ngClass]="styleClass" *ngIf="i < 5">
              <i class="tio-checkmark-circle-outlined" *ngIf="styleClass === 'step-icon'"></i>
              <i class="tio-circle-outlined" *ngIf="styleClass === 'step-icon-unchecked'"></i>
            </span>
            <span class="step-icon step-icon-soft-primary lastStep" [ngClass]="styleClass" *ngIf="i === 5">
              <i class="tio-checkmark-circle-outlined" *ngIf="styleClass === 'step-icon'"></i>
              <i class="tio-circle-outlined" *ngIf="styleClass === 'step-icon-unchecked'"></i>
            </span>
            <div class="step-content">
              <h4 class="step-title">{{checkTexts[i]}}</h4>

            </div>
          </div>
        </li>
      </ul>
      <!-- End Step -->

    </div>
    <!-- End Table -->

    <!-- Footer -->

    <!-- Footer -->

    <!-- End Footer -->
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Yüklənir... </p>
</ngx-spinner>
