<div class="login-body row">
  <div class="col-lg-6 leftCont" >
    <h1 class="position-absolute text-light  font-weight-bold login-text">Şifrəni unutmuşaml</h1>
    <img class="full-image " src="assets/img/AL.png" alt="">
  </div>
  <div class="col-lg-6 rightCont">
    <div class="top-logo">
      <img class="top-logo-image" src="assets/img/Absheron_Logistika_logo 3.png" alt="">
    </div>
    <form class="login-form">
      <div class="form-group">
        <label class="input-label" for="exampleFormControlInput1">E-mail</label>
        <input type="email" 
          name="uEmail" [(ngModel)]="email" class="form-control">
          <div class="alert alert-danger" 
              *ngIf="email.length>0 && submitted">
              *Email tələb oluunur
          </div>
      </div>
      <button type="button" (click)="SendCode()"  class="form-control w-100 mt-3 btn btn-block newOrder mb-3">
        Şifrəni dəyiş
      </button>

    </form>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Yüklənir... </p></ngx-spinner>
