.file_picker {
  overflow: hidden;
  white-space: nowrap;
}


.openFile{
  overflow: hidden;
  white-space: nowrap;
  background: white; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, white 50%, #2ecc71 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
}

.openFile:hover{
  background-position: left;
  cursor: pointer;
  color: white;
}

.cursor_pointer .selectfileLabel i{
  color: white;
  transition: 0.7s;
}

.cursor_pointer:hover .selectfileLabel i{
  color: white;
  transition: 0.7s;

}

.deleteBtn{
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
}



.selectfileInputPay{
  position: absolute;
  width: 60%;
  top: 0px;
  opacity: 0;
}



.selectfileLabelPay{
  position: absolute;

}

.selectfileLabelPay img{
  background-color: white;
  padding: 0 10px;
  margin-right: -14px;
}


.line::after{
  bottom: -17px!important;
  width: 160px;
}

h6{
  margin: 0;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif !important
}


.orderBtn {
  font-family: "Lexend Deca", sans-serif !important
}


@media only screen and (max-width: 768px){
  .fileDetails{
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    padding-bottom: 10px;
    margin-bottom: 14px;
  }

  .tio-delete-outlined{
    font-size: 22px;
  }
}

